/*
  Adrift in Dreams
  http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
*/

$sunlit_sea: #CFF09E;
$sea_foaming: #A8DBA8;
$sea_showing_green: #79BD9A;
$there_we_could_sail: #3B8686;
$drift_in_dreams: #0B486B;
