{
  "presets": [
    [
      "env",
      {"es2015": {"modules": false}}
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "syntax-dynamic-import"
      ]
    }
  }
}
